/*@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap');
/*CHANGE FONT WEIGHT MANAGEMENT*/

@font-face{
    font-family: "Digital-7";
    src: url(font/digital-7.ttf);
}

body{
    background-color: aqua;
    /*font-family: 'Unbounded', cursive;*/
    /*font-family: "Digital-7";*/
}

.container{
    margin: auto;
    margin-top: 5rem;
    max-width: 240px;
    height: 360px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

#backspace{
    grid-column-start: 3;
    grid-column-end: 5;
}

#add{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

#subtract{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
}

#multiply, #divide, #percentage{
    grid-row-start: 3;
}

#operate{
    grid-column-start: 3;
    grid-column-end: 5;
}

#display{
    font-family: "Digital-7";
    background-color: gainsboro;
    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-rows: 35% 65%;
}

#display #upperRow{
    font-size-adjust: 0.75;
}
#display #lowerRow{
    font-size-adjust: 1.25;
}

/*
.keypad{
    display: grid;
    grid-template-columns: repeat(4, auto);
}


.numpad{
    display: grid;
    width: 300px;
    height: 400px;
    grid-template-columns: auto auto auto;
}
*/